<footer>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="iconBox col-xs-4">
        <a href="https://www.facebook.com/jacobsamueleaton/?fref=ts" target="_blank" class="mr-3"><img src="{{site.baseurl}}/assets/images/facebook.png" width="50"></a>
      </div>
      <div class="iconBox col-xs-4">
        <a href="https://twitter.com/JacobEatonArt" target="_blank" class="mr-3"><img src="{{site.baseurl}}/assets/images/twit.png" width="50"></a>
      </div>
      <div class="iconBox col-xs-4">
        <a href="https://www.instagram.com/jacobsamueleaton/" target="_blank""><img src="{{site.baseurl}}/assets/images/insta.png" width="50"></a>
      </div>
      <div class="jake col-sm-12 text-center">
        <p>&copy; Jacob Eaton</p>
      </div>
    </div>
  </div>
</footer>
